@model ProductDTO

@{ 
    var url = $"/محصول/S3C-{Model.ID}/{Model.Title.ToUrl()}";
}

<div class="product-thumb clearfix">
    <div class="image"><a href="@url"><img src="/Uploads/@Model.Image" alt="آیفون 7" title="آیفون 7" class="img-responsive" /></a></div>
    <div class="caption">
        <h4><a href="@url">@Model.Title</a></h4>
        @if (Model.Count > 0)
        {
            <p class="price"> @Model.Price تومان </p>
        }
        else
        {
            <p class="price text-danger">موجود نیست</p>
        }
        <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
    </div>
    <div class="button-group">
        <button class="btn-primary" type="button" onClick=""><span>افزودن به سبد</span></button>
        <div class="add-to-links">
            <button type="button" data-toggle="tooltip" title="افزودن به علاقه مندی ها" onClick=""><i class="fa fa-heart"></i></button>
            <button type="button" data-toggle="tooltip" title="مقایسه این محصول" onClick=""><i class="fa fa-exchange"></i></button>
        </div>
    </div>
</div>

