@model S3C_MVC.Models.PageSettings

@{
    var iran = "11111";
    var str = "";
    if (DateTime.Now.Hour == 19)
    {
        str = "شماره برنده شدید!!";
    }

    string myClass = null;
}

<div class="@myClass"></div>
 
<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="fa fa-home"></i></a></li>
            <li><a href="about-us.html">درباره ما</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h1 class="title">@Model.Title</h1>
                <div class="row">
                    <div class="col-sm-12">
                        @Html.Raw(Model.Text)
                        <br />

                        test@(iran).com


                        @*@for (int i = 0; i < 10; i++)
                        {
                            <i>@i</i>
                            <text>this is test</text>
                            <hr />
                        }*@

                    </div>
                </div>
                <h3 class="text-center">متن دلخواه خود را در اینجا قرار دهید.</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="well">
                            <h4>ارسال رایگان</h4>
                            <p>متن دلخواه خود را در اینجا قرار دهید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                            <a href="#" class="btn btn-primary">ادامه مطلب</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="well">
                            <h4>کارت هدیه</h4>
                            <p>متن دلخواه خود را در اینجا قرار دهید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                            <a href="#" class="btn btn-primary">ادامه مطلب</a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="well">
                            <h4>امتیازات خرید</h4>
                            <p>متن دلخواه خود را در اینجا قرار دهید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                            <a href="#" class="btn btn-primary">ادامه مطلب</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>
